@import url("https://fonts.googleapis.com/css2?family=Galindo&family=Sniglet&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* border: 1px solid firebrick; */
}
body {
  background: linear-gradient(180deg, #111111 0%, #121212 100%),
    linear-gradient(270deg, rgba(17, 17, 17, 0.975) 10.94%, #101010 100%);
}
header {
  background: url(./img/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.nav {
  min-height: 100px;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
}
.login {
  align-self: center;
  background: #f2d63f;
  font-family: Galindo;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 40px;
  border: none;
}
.login a {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0.5px;
}
header section {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Sniglet", cursive;
  color: #fdfdfd;
  padding: 0 35px;
}
.gamily {
  font-size: 2em;
  font-family: "Galindo", cursive;
  letter-spacing: 3px;
  margin-top: 25px;
}
.peer {
  margin-top: 20px;
  text-align: center;
}
.lorem {
  margin-top: 35px;
  font-style: italic;
  text-align: center;
  color: #ababab;
}
.get-started {
  background: transparent;
  margin-top: 80px;
  color: #fdfdfd;
  width: 200px;
  height: 50px;
  font-family: sans-serif;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-bottom: 2px solid #fdfdfd;
}
.get-started:hover {
  background-color: #f2d63f;
  transition: ease-in 0.5s;
  color: #000;
  border-bottom: 4px solid #000;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  header {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 900px) {
  header {
    background: url(./img/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    max-width: 100%;
  }
  .nav {
    min-height: 120px;
    padding: 0 100px;
  }
  .login {
    width: 90px;
    height: 45px;
  }
  header section {
    margin-top: 12%;
    padding: 0 100px;
    align-items: flex-start;
  }
  .welcome,
  .peer {
    font-size: 2em;
  }
  .gamily {
    font-size: 3em;
  }
  .lorem {
    margin-top: 35px;
    font-style: italic;
    color: #ababab;
    width: 50%;
    text-align: left;
  }
  .get-started {
    width: 220px;
    font-size: 1.3em;
    border-bottom: 2px solid #fdfdfd;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .nav,
  header section {
    padding: 0 230px;
  }
  header section {
    margin-top: 1%;
  }
}
