@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 1px solid red;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
}
header .logo{
    max-width: 120px;
}
header .toggle{
    max-width: 60px;
    cursor: pointer;
}
header .logo img,
header .toggle img{
    max-width: 100%;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
}
.banner .content{
    max-width: 550px;
}